body{
	background-color:pink;
}

/*header*/
#header
{
	width:900px;
	height:200px;
	background-color:pink;
}

/*generic*/
table
{
	border:1px solid black;
}

a:link {
	text-decoration: none;
	color:black;
}

a:visited
{
	text-decoration: none;
	color:black;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: underline;
}

/*categories*/

/*threads*/
.threads
{
	width:1000px;
	height:100%;
	background-color:orange;

	margin-left:250px;
}
.leftCategory
{
	background-color:grey;
	height:50px;
	width:800px;
	margin-left:50px;

	padding:20px;

	border-width:1px;
	border-style:solid;
}
.rightCategory
{
	background-color:grey;
	height:90px;
	width:100px;

	margin-left:891px;
	margin-top:-92px;

	border-width:1px;
	border-style:solid;
}

/*posts*/
.title
{
	margin-left:50px;
}
.left
{
	width:150px;
	height:130px;
	background-color:grey;
	margin-left:0xp;
	border-width:2px;
	border-style:solid;
	padding:5px;

	word-wrap: break-word;
}
.middle
{
	width:495px;
	height:130px;
	margin-left:150px;
	margin-top:-144px;
	background-color:grey;

	padding:5px;

	border-width:2px;
	border-style:solid;

	word-wrap: break-word;
}
.right
{
	width:55px;
	height:140px;
	margin-left:657px;
	margin-top:-144px;
	background-color:grey;

	border-width:2px;
	border-style:solid;
}
.submitPost
{
	width:500px;
	height:90px;
}

/*profile*/
